@media(min-width:767px) {
        .navbar {    
            background: #AFAFAF;
            opacity: 0.97;
            color: white;
        }
        body {
            background: #F2F2F2; 
        }
        
        .navbar-default .navbar-nav > li > a {
          color: #F2F2F2;
        }
    
    }

.navbar-default, .navbar-default .navbar-brand {
    color: #F2F2F2;
    background: #AFAFAF;  
}

.navbar-default .navbar-nav > li > a {
    color: #F2F2F2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F2F2F2;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #F2F2F2;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #E5E5E5;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #F2F2F2;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #E5E5E5;
}